@import './variables';

main {
  border-top: 1px solid transparent;
  box-sizing: border-box;
  height: calc(100vh - #{$header-height});
  margin: $header-height auto 0;
  width: 80%;
}

.join-btn {
  background-color: $btn-color;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  color: $light-theme-info-color;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.4rem 1.4rem;

  &:hover {
    background-color: scale-color($btn-color, $lightness: $hover-darken);
  }
}

.cards-layout {
  display: grid;
  grid-template-columns: 25% 25% auto 20%;
  grid-template-rows: repeat(auto-fill, 5%);
  height: 40vw;
  margin-top: 50px;
}

// cards common properties --------------------
%card-sides {
  backface-visibility: hidden;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  transition: transform 0.6s ease;
  width: 100%;
}

.card {
  overflow: hidden;
  perspective: 200rem;
  position: relative;
}

.card .cover {
  @extend %card-sides;

  align-items: center;
  background-color: $card-background;
  color: $light-theme-info-color;
  display: flex;
  font-size: 6rem;
  font-weight: 400;
  justify-content: center;
  overflow: hidden;
}

.card .content {
  @extend %card-sides;

  background-color: $card-background;
  font-size: 1.25rem;
  font-weight: 600;
  overflow-y: auto;
  z-index: -1;
}

// animation --------------------
@keyframes zoom-in-text {
  0% {
    transform: scale(0, 0);
  }

  100% {
    transform: scale(1, 1);
  }
}

.zoom-in-text span {
  animation: 0.3s ease 0s 1 zoom-in-text;
}

// trasformation ----------------
/* stylelint-disable */
.open-to-bottom {
  .cover {
    transform-origin: bottom;
  }

  &:hover .cover {
    transform: translateY(101%);
    transform-origin: bottom;
  }
}

.open-bottom-right-rotate-scale {
  .cover {
    transform-origin: 85% 85%;
  }

  &:hover .cover {
    transform: rotate(1turn) scale(0, 0);
    transform-origin: 80% 80%;
  }
}

.open-rotate {
  .content {
    transform: rotateY(180deg);
  }

  &:hover .content {
    transform: rotateY(0);
  }

  &:hover .cover {
    transform: rotateY(-180deg);
  }
}

.open-to-right {
  .cover {
    transform-origin: right;
  }

  &:hover .cover {
    transform: translateX(101%);
    transform-origin: right;
  }
}

.open-to-top-right {
  .cover {
    transform-origin: top right;
  }

  &:hover .cover {
    transform: scale(0, 0);
    transform-origin: top right;
  }
}

.open-to-bottom-left-rotated {
  &:hover .cover {
    transform: translate(-100%, 100%) rotate(-30deg);
  }
}
/* stylelint-enable */

// specific cards ----------------------
.card.logo {
  grid-row: 1 / 11;
  height: 100%;
  width: 100%;

  .content {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}

.card.qa {
  grid-row: 11 / -1;

  .cover {
    background-color: rgb(102, 208, 116);
  }
}

.card.js {
  grid-row: 1 / 16;

  .cover {
    background-color: rgb(241, 192, 97);
    color: $light-theme-text;
    font-weight: 600;
  }

  .cover span {
    align-self: flex-end;
    margin-left: auto;
  }
}

.card.java {
  grid-row: 16 / -1;

  .cover {
    background-color: rgb(206, 40, 57);
    font-size: 2.5em;
  }
}

.card.php {
  grid-column: 3 / -1;
  grid-row: 1 / 8;

  .cover {
    background-color: rgb(138, 147, 188);
    color: $light-theme-text;
    font-style: italic;
  }
}

.card.dotnet {
  grid-row: 8 / -1;

  .cover {
    background-color: rgb(92, 39, 115);
  }
}

.misc {
  display: flex;
  flex-direction: column;
  grid-row: 8 / -1;

  .card .cover,
  .card .content {
    font-size: 1.2em;
    font-weight: 400;
  }
}

.card.events {
  flex-grow: 4;

  .cover {
    background-color: rgb(77, 153, 247);
  }
}

.card.blog {
  flex-grow: 4;

  .cover {
    background-color: rgb(24, 68, 157);
  }
}

.card.contacts {
  flex-grow: 2;

  .cover {
    background-color: rgb(9, 38, 91);
  }
}

.social-contacts {
  align-items: center;
  display: flex;
  justify-content: center;

  a {
    color: $light-theme-text;
    font-size: 24px;
    margin: 0 5px;
    text-decoration: none;
  }

  a:hover {
    color: rgb(9, 38, 91);
  }

  .fa-facebook-official {
    border-radius: 50%;
  }
}

// tablet and mobile screen
@media (max-width: $layout-breakpoint) {
  main {
    width: 90%;
  }

  .card .cover {
    font-size: 4rem;
  }

  .card .content {
    font-size: 1rem;
  }

  .cards-layout {
    grid-template-columns: repeat(auto-fill, 5%);
    grid-template-rows: 1fr 24% 24%;
    height: 90%;
    margin-top: 50px;
    min-height: 70vh;
  }

  .card.logo {
    grid-column: 1 / 10;
    grid-row: 1;
  }

  .card.js {
    grid-column: 10 / 17;
    grid-row: 1;
  }

  .misc {
    grid-column: 17 / -1;
    grid-row: 1;

    .card .content {
      font-size: 0.75em;
      font-weight: 400;
    }
  }

  .card.java {
    grid-column: 1 / 11;
    grid-row: 2;
  }

  .card.php {
    grid-column: 11 / -1;
    grid-row: 2;
  }

  .card.qa {
    grid-column: 1 / 11;
    grid-row: 3;
  }

  .card.dotnet {
    grid-column: 11 / -1;
    grid-row: 3;
  }
}
