@import './variables';

%menu-item {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

@keyframes header-slide {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

header {
  align-items: center;
  animation: 0.75s ease-out 0s 1 header-slide;
  background-color: $header-color;
  display: flex;
  height: $header-height;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-height: 70px;
  width: 80%;
}

.logo {
  display: inline-block;
  height: 40px;
  width: 135px;

  img {
    height: 100%;
    min-width: 105px;
    width: 100%;
  }
}

.user-panel {
  align-items: center;
  display: flex;
  position: relative;
}

.bell-wrapper {
  @extend %menu-item;

  margin-right: 10px;

  span {
    color: transparent;
    cursor: pointer;
    text-shadow: 0 0 0 $bell-color;
    user-select: none;
  }

  span:hover {
    text-shadow: 0 0 0 scale-color($bell-color, $lightness: $hover-darken);
  }
}

.user-avatar {
  @extend %menu-item;

  background-color: $avatar-color;
  border-radius: 50%;
  color: $header-color;
  cursor: pointer;
  font-size: 28px;
  text-align: center;
  user-select: none;

  &:hover {
    background-color: scale-color($avatar-color, $lightness: $hover-darken);
  }
}

.user-menu-popup {
  background-color: $header-color;
  box-shadow: 0 0 2px;
  display: none;
  max-width: 200px;
  min-width: 150px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 45px;

  .user-name {
    border-bottom: 1px solid rgb(181, 193, 211);
    color: rgb(181, 193, 211);
    display: inline-block;
    font-size: 16px;
    height: auto;
    padding-bottom: 5px;
    text-align: center;
    user-select: none;
    width: 100%;
  }

  li {
    cursor: pointer;
    font-size: 20px;
    margin: 10px 0;
    padding: 3px 0;
    user-select: none;
  }

  li:hover {
    background-color: rgb(131, 131, 131, 0.09);
  }
}

.toggle-menu:checked ~ .user-menu-popup {
  display: block;
}
