@import './variables';

.notifications-wrapper {
  bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 100%;
  position: fixed;
  right: 15px;
}

.notification {
  align-items: center;
  border-radius: 6px;
  color: #fff;
  display: flex;
  margin-top: 15px;
  opacity: 0.7;
  padding: 15px;
  width: 200px;

  .message {
    margin-left: 15px;
  }

  .message-header {
    font-weight: 600;
  }
}

.success {
  background-color: $success;
}

.error {
  background-color: $error;
}

.warning {
  background-color: $warning;
}
