$header-height: 70px;
$bell-color: rgb(181, 193, 211);
$avatar-color: rgb(235, 157, 60);
$hover-darken: -20%;
$header-color: #fff;
$btn-color: rgb(0, 185, 255);

$layout-breakpoint: 968px;

// cards-colors
$card-background: #fff;

// text-colors
$light-theme-info-color: #fff;
$light-theme-text: #000;

// notifications
$success: rgb(40, 167, 69);
$error: rgb(206, 35, 35);
$warning: rgb(255, 193, 7);
