html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
menu,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
main,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section {
  display: block;
}

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none;
}

body {
  line-height: 1;
}

menu,
ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.user-avatar, .bell-wrapper {
  align-items: center;
  display: flex;
  height: 40px;
  justify-content: center;
  width: 40px;
}

@keyframes header-slide {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
header {
  align-items: center;
  animation: 0.75s ease-out 0s 1 header-slide;
  background-color: #fff;
  display: flex;
  height: 70px;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header-wrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  max-height: 70px;
  width: 80%;
}

.logo {
  display: inline-block;
  height: 40px;
  width: 135px;
}
.logo img {
  height: 100%;
  min-width: 105px;
  width: 100%;
}

.user-panel {
  align-items: center;
  display: flex;
  position: relative;
}

.bell-wrapper {
  margin-right: 10px;
}
.bell-wrapper span {
  color: transparent;
  cursor: pointer;
  text-shadow: 0 0 0 #b5c1d3;
  user-select: none;
}
.bell-wrapper span:hover {
  text-shadow: 0 0 0 #8498b6;
}

.user-avatar {
  background-color: #eb9d3c;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 28px;
  text-align: center;
  user-select: none;
}
.user-avatar:hover {
  background-color: #d68016;
}

.user-menu-popup {
  background-color: #fff;
  box-shadow: 0 0 2px;
  display: none;
  max-width: 200px;
  min-width: 150px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 45px;
}
.user-menu-popup .user-name {
  border-bottom: 1px solid #b5c1d3;
  color: #b5c1d3;
  display: inline-block;
  font-size: 16px;
  height: auto;
  padding-bottom: 5px;
  text-align: center;
  user-select: none;
  width: 100%;
}
.user-menu-popup li {
  cursor: pointer;
  font-size: 20px;
  margin: 10px 0;
  padding: 3px 0;
  user-select: none;
}
.user-menu-popup li:hover {
  background-color: rgba(131, 131, 131, 0.09);
}

.toggle-menu:checked ~ .user-menu-popup {
  display: block;
}

body {
  background-color: #f8f9fc;
  font-family: Arial, sans-serif;
}

main {
  border-top: 1px solid transparent;
  box-sizing: border-box;
  height: calc(100vh - 70px);
  margin: 70px auto 0;
  width: 80%;
}

.join-btn {
  background-color: #00b9ff;
  border: 0;
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 400;
  padding: 0.4rem 1.4rem;
}
.join-btn:hover {
  background-color: #0094cc;
}

.cards-layout {
  display: grid;
  grid-template-columns: 25% 25% auto 20%;
  grid-template-rows: repeat(auto-fill, 5%);
  height: 40vw;
  margin-top: 50px;
}

.card .content, .card .cover {
  backface-visibility: hidden;
  box-sizing: border-box;
  height: 100%;
  left: 0;
  padding: 10px;
  position: absolute;
  top: 0;
  transition: transform 0.6s ease;
  width: 100%;
}

.card {
  overflow: hidden;
  perspective: 200rem;
  position: relative;
}

.card .cover {
  align-items: center;
  background-color: #fff;
  color: #fff;
  display: flex;
  font-size: 6rem;
  font-weight: 400;
  justify-content: center;
  overflow: hidden;
}

.card .content {
  background-color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  overflow-y: auto;
  z-index: -1;
}

@keyframes zoom-in-text {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}
.zoom-in-text span {
  animation: 0.3s ease 0s 1 zoom-in-text;
}

/* stylelint-disable */
.open-to-bottom .cover {
  transform-origin: bottom;
}
.open-to-bottom:hover .cover {
  transform: translateY(101%);
  transform-origin: bottom;
}

.open-bottom-right-rotate-scale .cover {
  transform-origin: 85% 85%;
}
.open-bottom-right-rotate-scale:hover .cover {
  transform: rotate(1turn) scale(0, 0);
  transform-origin: 80% 80%;
}

.open-rotate .content {
  transform: rotateY(180deg);
}
.open-rotate:hover .content {
  transform: rotateY(0);
}
.open-rotate:hover .cover {
  transform: rotateY(-180deg);
}

.open-to-right .cover {
  transform-origin: right;
}
.open-to-right:hover .cover {
  transform: translateX(101%);
  transform-origin: right;
}

.open-to-top-right .cover {
  transform-origin: top right;
}
.open-to-top-right:hover .cover {
  transform: scale(0, 0);
  transform-origin: top right;
}

.open-to-bottom-left-rotated:hover .cover {
  transform: translate(-100%, 100%) rotate(-30deg);
}

/* stylelint-enable */
.card.logo {
  grid-row: 1/11;
  height: 100%;
  width: 100%;
}
.card.logo .content {
  align-items: center;
  display: flex;
  justify-content: center;
}

.card.qa {
  grid-row: 11/-1;
}
.card.qa .cover {
  background-color: #66d074;
}

.card.js {
  grid-row: 1/16;
}
.card.js .cover {
  background-color: #f1c061;
  color: #000;
  font-weight: 600;
}
.card.js .cover span {
  align-self: flex-end;
  margin-left: auto;
}

.card.java {
  grid-row: 16/-1;
}
.card.java .cover {
  background-color: #ce2839;
  font-size: 2.5em;
}

.card.php {
  grid-column: 3/-1;
  grid-row: 1/8;
}
.card.php .cover {
  background-color: #8a93bc;
  color: #000;
  font-style: italic;
}

.card.dotnet {
  grid-row: 8/-1;
}
.card.dotnet .cover {
  background-color: #5c2773;
}

.misc {
  display: flex;
  flex-direction: column;
  grid-row: 8/-1;
}
.misc .card .cover,
.misc .card .content {
  font-size: 1.2em;
  font-weight: 400;
}

.card.events {
  flex-grow: 4;
}
.card.events .cover {
  background-color: #4d99f7;
}

.card.blog {
  flex-grow: 4;
}
.card.blog .cover {
  background-color: #18449d;
}

.card.contacts {
  flex-grow: 2;
}
.card.contacts .cover {
  background-color: #09265b;
}

.social-contacts {
  align-items: center;
  display: flex;
  justify-content: center;
}
.social-contacts a {
  color: #000;
  font-size: 24px;
  margin: 0 5px;
  text-decoration: none;
}
.social-contacts a:hover {
  color: #09265b;
}
.social-contacts .fa-facebook-official {
  border-radius: 50%;
}

@media (max-width: 968px) {
  main {
    width: 90%;
  }

  .card .cover {
    font-size: 4rem;
  }

  .card .content {
    font-size: 1rem;
  }

  .cards-layout {
    grid-template-columns: repeat(auto-fill, 5%);
    grid-template-rows: 1fr 24% 24%;
    height: 90%;
    margin-top: 50px;
    min-height: 70vh;
  }

  .card.logo {
    grid-column: 1/10;
    grid-row: 1;
  }

  .card.js {
    grid-column: 10/17;
    grid-row: 1;
  }

  .misc {
    grid-column: 17/-1;
    grid-row: 1;
  }
  .misc .card .content {
    font-size: 0.75em;
    font-weight: 400;
  }

  .card.java {
    grid-column: 1/11;
    grid-row: 2;
  }

  .card.php {
    grid-column: 11/-1;
    grid-row: 2;
  }

  .card.qa {
    grid-column: 1/11;
    grid-row: 3;
  }

  .card.dotnet {
    grid-column: 11/-1;
    grid-row: 3;
  }
}
.notifications-wrapper {
  bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-height: 100%;
  position: fixed;
  right: 15px;
}

.notification {
  align-items: center;
  border-radius: 6px;
  color: #fff;
  display: flex;
  margin-top: 15px;
  opacity: 0.7;
  padding: 15px;
  width: 200px;
}
.notification .message {
  margin-left: 15px;
}
.notification .message-header {
  font-weight: 600;
}

.success {
  background-color: #28a745;
}

.error {
  background-color: #ce2323;
}

.warning {
  background-color: #ffc107;
}

/*# sourceMappingURL=style.comp.css.map */
